.main-navigator{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px 0 35px; */
  /* position: fixed; */
  width: 100%;
  
  /* max-width: 900px; */
  /* margin: 0 auto; */
  padding: 18px 0 10px;
  /* margin-top: 18px; */
  /* max-width: 1000px; */
  font-weight: bold;
  /* position: fixed; */
  /* background-color: rgba(227, 227, 227, 1); */
  /* box-shadow: 5px 5px 10px rgba(50, 49, 49, 0.3);  */
  border-radius: 38px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;




  /* Text styling */
  /* color: white; */
  display: flex;
  align-items: center;
  padding: 0 20px;

}

.header-grade-back{
 /* Darker subtle gradient background */
  background: linear-gradient(to bottom, rgba(21, 21, 21, 1), rgba(169, 163, 185, 0));
}

.header-dark-back{

   background-color: rgb(54, 48, 66);
  /* color: #ffffff; */
}

.nav-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-transform: uppercase; */
}

.nav-link{
  list-style-type: none;
  /* background-color: rgb(93, 93, 93, .5); */
  /* box-shadow: 5px 5px 10px rgba(50, 49, 49, 0.3);  */
  padding: 4px 16px;
  border-radius: 18px;
  /* opacity: .7; */

}
.nav-link > a{
  text-decoration: none;
  /* color: var(--dak-text); */

  /* opacity: .7; */
  color: rgb(214, 211, 211);
}
.nav-link > a.active{
  /* color: black; */
  text-decoration: 2px underline;
    text-underline-offset: 6px;
  /* opacity: 1; */
}

a{
  text-decoration: none;
}

.nav-link> a:hover{
  opacity: 1;
  transition-duration: .3s;

}


 .nav-link > a{
  /* padding: 2px;  */
  text-decoration: none;
}
/* 
a:hover{
  color: black;
  transition-duration: .3s;
}  */

h1{
  padding: 0;
  margin: 0;

}

.nav-link + .nav-link{
  margin-left: 40px;
}

.link-btn{
  padding: 10px 20px;
  border: 1px solid var(--nav-text);
  border-radius: 5px;
}

.highlight-btn{
  border-color: var(--highlight-color);
  transition-duration: .3s;
}
.highlight-btn:hover{
  background-color: var(--highlight-color);
  
  transition-duration: .3s;
  color: rgb(252, 247, 247);
}
.logo{
  padding: 10px 20px;
  border-radius: 20px;
  width: 160px;

}

@media (max-width: 680px){
  .main-navigator{
    flex-direction: column;
  }
  .nav-menu{
    margin-top: 20px;
  }
}

/* .main-navigator{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  padding: 15px 35px;
  font-weight: bold;
} */