:root{
  --dark-text: rgb(43, 39, 39);
  --nav-text: rgb(81, 80, 80);
  --box-outline: rgb(126, 126, 126);
  --highlight-color: #2e820a;
  --outline-green: rgb(91, 131, 91);
  --background-green: #a8f985;
  --outline-red: rgb(105, 69, 69);
  --background-red: #f28181;
  /* --highlight-color: #ae1bd7; */
  font-size: 15px; 
}

/* #e0e3eb */
body{
  /* display: flex; */
  color: rgb(29, 28, 28);
  /* background-color: blue; */
  margin: 0;
  /* font-family: sans-serif; */
  font-family:  'Segoe UI', Tahoma, sans-serif;
  overflow-y: scroll;
}

.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.global-padding{
  padding: 0 10px ;
}

.error-span{
  color: rgb(235, 59, 59);
}






.chart2{
  background-color: blue;
  width: 100%;

min-height: 100%;
min-height: calc(100vh - 163px);

}