.sign-up-content{
  color: var(--dark-text);
  display: flex;
  /* background-color: aqua; */
  max-width: 1500px;
  margin: 0 auto;
  /* flex-direction: row; */
  justify-content: space-around;
  padding: 0 50px;
  width: 100%;
  /* margin-bottom: 0; */
}
.pricing-container{
  width: 100%;
  /* background-color: pink; */
}


.sign-up-content  .plans-section{
  max-width: 95%;
  margin-top: var(--top-margin-from-header);
}

.plans-section{
  /* max-width: 600px; */

  display: flex;
  width: 100%;
  /* max-width: ; */
  justify-content: space-around;
  background-color: var(--cell-back-color);
  background-color: white;
 /* border: 1px solid rgb(215, 209, 209); */
 border-radius: 10px;
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.2); /* Offset, blur, spread, color with opacity */
}

.plans-section h2{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.plan{
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 12px;
  width: 40%;
  width: 400px;
  gap: 22px;
}

.center-text {
  text-align: center;
}

.main-pricing{
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 220, 238);
  padding: 20px;
  border-radius: 12px;
  gap:6px;
}

.exclusive-price{
  background-color: rgb(253, 247, 227);
}

.vertical-line{
  /* border: 1px solid rgb(215, 213, 213); */
  background-color: rgb(215, 213, 213);
  width: 1px;
  /* max-height: 80%; */
  /* margin-top: 20%; */
  margin: 8% 0;
}

.pricing-title{
  font-weight: bold;
  font-size: 32px;
}



@media(max-width:1400px){
  .sign-up-content .plans-section{
    margin:var(--top-margin-from-header) auto 80px;
    /* margin: 0 auto; */
    width: 100%;
    /* max-width: 100%; */
    /* max-width: 800px; */
    /* padding: 10px; */
    /* margin: 50px auto; */
  }
  .sign-up-content .auth-form-space{
    margin-top: 0;
  }
   .sign-up-content{
    flex-direction: column;
    width: 100%;
    /* background-color: pink; */
   }
}
@media(max-width:800px){
  .sign-up-content{
    padding: 0;
  }
  .pricing-container{
    /* padding: 0 15px; */
  }
  .plans-section{

    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    /* margin-top: 140px; */
    /* margin-right: 20px; */
  }
  .vertical-line{
  border: 1px solid rgb(215, 213, 213);

  width: 80%;
  /* max-height: 80%; */
  /* margin-top: 20%; */
  /* margin: 8% 0; */
  }
  .sign-up-content{
    /* padding: 0; */
  }
}
