.sign-up-content{
  color: var(--dark-text);
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0 50px;
  width: 100%;
  /* margin-bottom: 0; */
}
.pricing-container{
  width: 100%;
}


.sign-up-content  .plans-section{
  max-width: 95%;
  margin-top: var(--top-margin-from-header);
}

.plans-section{
  /* max-width: 600px; */
  justify-content: center;
  display: flex;
  width: 100%;
  /* max-width: ; */
  /* justify-content: space-around; */
  /* background-color: var(--cell-back-color); */
  /* background-color: white; */
 /* border: 1px solid rgb(215, 209, 209); */
 border-radius: 10px;
 gap: 40px;
  /* box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.2) Offset, blur, spread, color with opacity */
}

.plans-section h2{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.top-plan{
  z-index: 100;
}

.start-here-btn{
  font-size: 1.6rem;
  border: 3px solid var(--dark-text);
  width: fit-content;
  margin: 60px auto;
  padding: 20px 40px; 
  border-radius: 80px;
  color: var(--dark-text);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.4s ease, color 0s linear; 
}
.start-here-btn:hover{
 
  background-color: black;
  color: white;
  /* transition: 1s; */
}

.plan{
  box-shadow: -5px 6px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* border-radius: 12px; */
  width: 40%;
  width: 400px;
  gap: 22px;
  border: 1px solid rgb(230, 226, 226);
  /* border: 2px solid rgb(229, 229, 184); */
}

.center-text {
  text-align: center;
}

.main-pricing{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(229, 220, 238);
  background-color: rgb(235, 223, 247); */
  padding: 20px;
  /* border-radius: 12px; */
  gap:6px;
  background-color: var(--highlight-color);
  color: var(--white-dark-text);
}

.recommended-plan{
  text-align: center;
 font-weight: bold;
}

.pricing-title-h3{
  text-align: center;
  margin-bottom: 40px;
}

.exclusive-price{
  /* background-color: rgb(253, 247, 227);
  background-color: rgb(255, 243, 205); */
}

.top-label{
  background-color: rgb(210, 208, 208);
  background-color: rgb(246, 247, 239);

  /* color: white; */
  position: relative;
  top: -70px;
  /* border-radius: 12px; */
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(230, 226, 226);


}

.vertical-line{
  /* border: 1px solid rgb(215, 213, 213); */
  /* background-color: rgb(215, 213, 213); */
  /* width: 1px; */
  margin: 8% 0;

  /* max-height: 80%; */
  /* margin-top: 20%; */
}

.pricing-title{
  font-weight: bold;
  font-size: 32px;
}



@media(max-width:1400px){
  .sign-up-content .plans-section{
    margin:var(--top-margin-from-header) auto 80px;
    /* margin: 0 auto; */
    width: 100%;
    /* max-width: 100%; */
    /* max-width: 800px; */
    /* padding: 10px; */
    /* margin: 50px auto; */
  }
  .sign-up-content .auth-form-space{
    margin-top: 0;
  }
   .sign-up-content{
    flex-direction: column;
    width: 100%;
    /* background-color: pink; */
   }
}
@media(max-width:800px){
  .sign-up-content{
    padding: 0;
  }
  .pricing-container{
    /* padding: 0 15px; */
  }
  .plans-section{

    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    /* margin-top: 140px; */
    /* margin-right: 20px; */
  }
  .vertical-line{
  /* border: 1px solid rgb(215, 213, 213); */

  /* width: 80%; */
  /* max-height: 80%; */
  /* margin-top: 20%; */
  margin: 4% 0;
  }
  .sign-up-content{
    /* padding: 0; */
  }
}
