.stats-display{
  display: flex;
  
  justify-content: center;
  margin-bottom: 50px;
}


.stat + .stat{
  /* margin-top: 15px; */
  width: 250px;
}

.stat{
  /* margin: 0 30px; */
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 1px;
  /* background-color: lightblue; */
}

.stat:nth-child(even){
  background-color: rgb(242, 242, 242);
  transition: .3s;
}

.stats-title{
  font-size: 1rem;
  margin: 0;
  margin-bottom: 20px;
  /* margin: 20px 0; */
  text-align: center;
  text-transform: uppercase;
}
.basic-title{
  font-size: 1rem;
  /* margin: 20px 0; */
  /* text-align: center; */
  text-transform: uppercase;
}
