/* table data display */

/* td:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
} */

/* tr:nth-child(even), tr:nth-child(even) {
  background-color: #f3f3f3;
}

th{
  border-bottom: 1px solid lightslategray;
}

th, td{
  padding: 10px 20px;
  text-align: left;
}
table{
  border-collapse: collapse;
  background-color: aqua;
  width: 100%;
} */


.status-tag{
  height: fit-content;
  padding: 4px 12px;
  background-color: var(--background-green);
  /* border: 2px solid var(--outline-green); */
  border-radius: 1px;
  cursor: pointer;
  border-radius: 4px;
}

.won{
  background-color: var(--background-green);
}
.loss{
  background-color: var(--background-red);
}
.open{
  background-color: rgb(252, 252, 125);
}



button, input{
  padding: 5px;
}

.table-heading, .table-row{
  display: flex;
  /* justify-content: space-between; */
}
a.table-row{
  color: var(--dark-text);
}
.table-cell{
  width: 20%;
  padding: 10px;
}


.table-row-odd:nth-child(odd){
  background-color: var(--cell-back-color);
  transition: .3s;
  /* border-radius: 10px; */
}
.table-row-even:nth-child(even){
  background-color: var(--cell-back-color);
  transition: .3s;
  /* border-radius: 10px; */
}

.table-row:hover{
  background-color: rgb(214, 214, 214);
  transition: .3s;

}



.table-row{
  border-radius: 6px;
  /* background-color: pink; */
}

.table{
  /* margin-top: 20px; */
}
.table-heading{
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;
  /* margin-bottom: 20px; */
   background-color: var(--cell-back-color);
  border-radius: 6px;


}
.table-body{
  display: flex;
  flex-direction: column-reverse;
}
