.main-display, .top-heading{
  display: flex;
  flex-direction: row;

}

.top-heading{
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  /* margin-bottom: 40px; */
}


.left-intro{
  display: flex;
  max-width: 500px;
 
  /* align-items: center; */
  flex-direction: column;
}



.filters-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.inactive-tag{
  /* border: 1px solid black; */
  background-color: rgb(240, 239, 239);
}

.trade-filter{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.filter-tag{
  font-weight: bold;
  margin-right: 20px;
}

.filter-section > .status-tag{
  margin: 5px;
}

div.filter-section:first-child{
  margin-right: 50px;
  color: blue;
}

.filter-section{
    display: flex;
  flex-direction: row;
}

.filter-input{
  width: 80px;
}

.left-filter{
  display: flex;
  flex-direction: row;
 
}

.right-filters{
  display: flex;
  flex-direction: column;
   height: 60px;
  justify-content: space-between;
}

.filter-selector{

  text-transform: uppercase;
  padding: 5px;
  width: 80px;
}
.date-spacer{
  margin-right: 20px;
}



