.main-display, .top-heading{
  display: flex;
  flex-direction: row;

}

.top-heading{
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 40px;
}


.left-intro{
  display: flex;
  max-width: 500px;
 
  /* align-items: center; */
  flex-direction: column;
}

.account-selection{
  display: flex; 
  flex-direction: column;
  margin-top: 36px;
}

.filters-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.inactive-tag{
  /* border: 1px solid black; */
  background-color: rgb(240, 239, 239);
}

.filter-section{
  align-items: center;
  display: flex;
  flex-direction: row;
}

.filter-tag{
  font-weight: bold;
  margin-right: 20px;
}

.filter-section > .status-tag{
  margin: 5px;
}

.date-picker{
  margin: 5px;
}