.log-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* max-width: 300px; */
  /* margin: 200px auto; */
  font-size: 1.2rem;

}

.auth-form-space{
  margin-top: 180px;
}

.input{
  margin: 10px 0;
  font-size: 1rem;
  padding: 15px 12px;
  /* width: 50%; */
  width: 400px;
  /* border-radius: 10px; */
  border: 1px solid var(--box-outline);
  /* border-radius: 8px; */
  font-size: 1.1rem;

}

.input:focus{
  outline: none;
  border: 2px solid rgb(31, 31, 246);
}

.submit-form{
  margin-top: 30px;
  font-size: 1.2rem;

  padding: 16px 40px;
  color: rgb(240, 237, 237);
  border-color: var(--highlight-color);
  background-color: var(--highlight-color);
  /* border-radius: 5px; */
  border: none;
  /* opacity: .8; */
  width: 400px;

}

.required{
  color: red;
}

.submit-form:hover{
  background-color: var(--highlight-color);
  color: rgb(252, 247, 247);

  transition-duration: .3s;
  opacity: 1;
  cursor: pointer;
}

.submit-form-margin{
  margin-left: 15px;
}

@media (max-width: 600px){
  .log-form{
    padding: 15px
  }
.input, .submit-form{

  width: 100%;

}

.auth-form-space{
  margin-top: 140px;
}
}