.main-display, .top-heading{
  display: flex;
  flex-direction: row;

}

.top-heading{
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 40px;
}


.left-intro{
  display: flex;
  max-width: 500px;
 
  /* align-items: center; */
  flex-direction: column;
}

.account-selection{
  display: flex; 
  flex-direction: column;
  margin-top: 36px;
}